body {

}

div#title{
    text-align: center;
}

div#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }

div#aboutme,
div#achievements,
div#interest {
    white-space: nowrap; 
    float: left;
    padding-right: 50px;
}

h1,
h2,
{
    font-family: sans-serif, serif;
}

h1 {
    font-size: 3.3em;
    -webkit-text-stroke: 0.47px white;
    -webkit-text-fill-color: rgb(0, 0, 0);
    border-bottom: rgb(255, 136, 0) solid;

}

h2 {
    margin-top: 0px;
    border-left: rgb(255, 136, 0) solid 6px;
    font-size: 2em;
    color: white;
    margin-bottom: 0.4em;

}

p,
li {
    padding-left: 6em;
    font-family: serif;
    font-size: 1em;
    color: white;
    margin-left: 1em;
    margin-top: 0em;
}